<h4>Listado</h4>
<!--Para obtener el indice de una lista en el ngfor se coloca el ; seguido de let i=index-->
<!-- Otros detalles del ngfor es que se puede obtener el first y el last de la lista, even, etc -->
<ul class="list-group">
  <li *ngFor="
  let character of characterList;
  let i = index;
  let isFisrt =first;
  let isLast = last;
  let isEven = even;
  let isOdd = odd;" class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{
    'list-group-item-primary':isLast,

  }">

    <div>
      <span class="text-primary">{{ i + 1 }}. </span>
      <span>{{character.name}}</span> -
      <strong>Power: </strong> <span>{{character.power}}</span>
    </div>




    <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)">Eliminar</button>
  </li>
</ul>
